#
# pin constraints
#
NET BTNs_4Bits_TRI_IO[0] LOC = "R18"  |  IOSTANDARD = "LVCMOS33";
NET BTNs_4Bits_TRI_IO[1] LOC = "P16"  |  IOSTANDARD = "LVCMOS33";
NET BTNs_4Bits_TRI_IO[2] LOC = "V16"  |  IOSTANDARD = "LVCMOS33";
NET BTNs_4Bits_TRI_IO[3] LOC = "Y16"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_4Bits_TRI_IO[0] LOC = "M14"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_4Bits_TRI_IO[1] LOC = "M15"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_4Bits_TRI_IO[2] LOC = "G14"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_4Bits_TRI_IO[3] LOC = "D18"  |  IOSTANDARD = "LVCMOS33";
NET SWs_4Bits_TRI_IO[0] LOC = "G15"  |  IOSTANDARD = "LVCMOS33";
NET SWs_4Bits_TRI_IO[1] LOC = "P15"  |  IOSTANDARD = "LVCMOS33";
NET SWs_4Bits_TRI_IO[2] LOC = "W13"  |  IOSTANDARD = "LVCMOS33";
NET SWs_4Bits_TRI_IO[3] LOC = "T16"  |  IOSTANDARD = "LVCMOS33";
#
# additional constraints
#



NET "axi_dispctrl_0_RED_O_pin<0>"       LOC=M19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L7P_T1_AD2P_35
NET "axi_dispctrl_0_RED_O_pin<1>"       LOC=L20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L9N_T1_DQS_AD3N_35
NET "axi_dispctrl_0_RED_O_pin<2>"       LOC=J20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L17P_T2_AD5P_35
NET "axi_dispctrl_0_RED_O_pin<3>"       LOC=G20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L18N_T2_AD13N_35
NET "axi_dispctrl_0_RED_O_pin<4>"       LOC=F19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L15P_T2_DQS_AD12P_35

NET "axi_dispctrl_0_GREEN_O_pin<0>"       LOC=H18 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L14N_T2_AD4N_SRCC_35
NET "axi_dispctrl_0_GREEN_O_pin<1>"       LOC=N20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L14P_T2_SRCC_34
NET "axi_dispctrl_0_GREEN_O_pin<2>"       LOC=L19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L9P_T1_DQS_AD3P_35
NET "axi_dispctrl_0_GREEN_O_pin<3>"       LOC=J19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L10N_T1_AD11N_35
NET "axi_dispctrl_0_GREEN_O_pin<4>"       LOC=H20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L17N_T2_AD5N_35
NET "axi_dispctrl_0_GREEN_O_pin<5>"       LOC=F20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L15N_T2_DQS_AD12N_35

NET "axi_dispctrl_0_BLUE_O_pin<0>"       LOC=P20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L14N_T2_SRCC_34
NET "axi_dispctrl_0_BLUE_O_pin<1>"       LOC=M20 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L7N_T1_AD2N_35
NET "axi_dispctrl_0_BLUE_O_pin<2>"       LOC=K19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L10P_T1_AD11P_35
NET "axi_dispctrl_0_BLUE_O_pin<3>"       LOC=J18 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L14P_T2_AD4P_SRCC_35
NET "axi_dispctrl_0_BLUE_O_pin<4>"       LOC=G19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L18P_T2_AD13P_35

NET "axi_dispctrl_0_VSYNC_O_pin"         LOC=R19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_0_34
NET "axi_dispctrl_0_HSYNC_O_pin"         LOC=P19 |IOSTANDARD=LVCMOS33 | SLEW="FAST"; #IO_L13N_T2_MRCC_34

NET "hdmi_tx_0_HDMI_CLK_N_pin" LOC = H17 | IOSTANDARD = TMDS_33; #IO_L20N_T3_34
NET "hdmi_tx_0_HDMI_CLK_P_pin" LOC = H16 | IOSTANDARD = TMDS_33; #IO_L13P_T2_MRCC_35
NET "hdmi_tx_0_HDMI_D0_N_pin" LOC = D20 | IOSTANDARD = TMDS_33; #IO_L4N_T0_35
NET "hdmi_tx_0_HDMI_D0_P_pin" LOC = D19 | IOSTANDARD = TMDS_33; #IO_L4P_T0_35
NET "hdmi_tx_0_HDMI_D1_N_pin" LOC = B20 | IOSTANDARD = TMDS_33; #IO_L1N_T0_AD0N_35
NET "hdmi_tx_0_HDMI_D1_P_pin" LOC = C20 | IOSTANDARD = TMDS_33; #IO_L1P_T0_AD0P_35
NET "hdmi_tx_0_HDMI_D2_N_pin" LOC = A20 | IOSTANDARD = TMDS_33; #IO_L2N_T0_AD8N_35
NET "hdmi_tx_0_HDMI_D2_P_pin" LOC = B19 | IOSTANDARD = TMDS_33; #IO_L2P_T0_AD8P_35
NET "hdmi_oen" LOC = F17 | IOSTANDARD = LVCMOS33; #IO_L6N_T0_VREF_35


NET AC_SCL                    LOC = "N18"  |  IOSTANDARD = "LVCMOS33";
NET AC_SDA                    LOC = "N17"  |  IOSTANDARD = "LVCMOS33";
NET AC_BCLK  LOC=K18 | IOSTANDARD=LVCMOS33; #IO_L12N_T1_MRCC_35
NET AC_MCLK                     LOC=T19 | IOSTANDARD=LVCMOS33; #IO_25_34
NET AC_MUTE_N LOC=P18 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_34
NET AC_SDATA_O LOC=M17 | IOSTANDARD=LVCMOS33; #IO_L8P_T1_AD10P_35
NET AC_PBLRC LOC=L17 | IOSTANDARD=LVCMOS33; #IO_L11N_T1_SRCC_35
NET AC_SDATA_I LOC=K17 | IOSTANDARD=LVCMOS33; #IO_L12P_T1_MRCC_35
NET AC_RECLRC LOC=M18 | IOSTANDARD=LVCMOS33; #IO_L8N_T1_AD10N_35

#This will cause the tools to choose the correct MMCM for the HDMI. 
#Will cause problems if 2 axi_dispctrl cores are present in "BUFR_DIV5" mode, but that
#shouldn't be necessary.
INST "*/USER_LOGIC_I/USE_BUFR_DIV5.Inst_mmcme2_drp/mmcm_adv_inst" LOC = "MMCME2_ADV_X0Y1";
